# Extração de padões e de pós-processamento

## Objetivo:
O objetivo desta atividade é proporcionar uma visão geral do
aprendizado supervisionado, em especial dos métodos de classificação.

## Descrição:
O aprendizado supervisionado busca, a partir dos dados de
treinamento, aprender uma função que mapeia dados de entrada a um rótulo. Por
exemplo, baseado nos atributos ​ Temperatura ​ e ​ Humidade e
diversos exemplos já
rotulados, poderíamos aprender uma função que nos diz se é possível jogar tênis,
dadas as condições climáticas atuais.
Ou seja, o objetivo do aprendizado supervisionado é prever qual o rótulo de um
dado exemplo considerando os valores de seus atributos. Essa informação de rótulo
pode ser de dois tipos: numérica ou categórica. No primeiro caso, tem-se um problema
de ​ regressão​ ; no segundo, um problema de ​ classificação​ . Os problemas de
classificação são o foco desta atividade.

## Biblioteca de manipulação de dados: Pandas

In [1]:
import numpy
import pandas

## Bibliotecas SKlearn

## Biblioteca de subconjuntos de treino e teste: Scikit e Numpy

In [ ]:
from  sklearn.model_selection  import  train_test_split

## Biblioteca de Algoritmo Arvore de Decisão

In [ ]:
from sklearn import tree

# 1. Coletando banco Wine

In [ ]:
names = ['Class','Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols','Flavanoids','Nonflavanoid phenols','Proanthocyanins','Color intensity','Hue','OD280/OD315 of diluted wines','Proline']

In [223]:
data = pandas.read_csv('/home/william/Documentos/IAIC/AtividadesMineracao/Atividade2/wine.data', header=None, names=names)

In [224]:
data.head()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

Colunas de 1 a 13 atributos, e coluna 0 classe a ser predita no fim da classificação.

# 2. Descrição base de dados
Constituintes determinantes (Atributos):

13 - names = ['Class','Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols','Flavanoids','Nonflavanoid phenols','Proanthocyanins','Color intensity','Hue','OD280/OD315 of diluted wines','Proline']

Estes dados são os resultados de uma análise química de vinhos cultivados na mesma região na Itália, mas originados de 3 cultivadores. A análise determinou as quantidades de 13 constituintes encontrados em cada um dos três tipos de vinhos. 

São 3 Classes indicadas numericamente representando os três cultivadores.

# 3. Criando Subconjuntos: Teste e Treinamento

In [225]:
data_train, data_test =  train_test_split(data,  test_size = 0.25 , train_size=0.75 )

In [226]:
data_test.head()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
13,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.250,2.73,1150
70,2,12.29,1.61,2.21,20.4,103,1.10,1.02,0.37,1.46,3.05,0.906,1.82,870
108,2,12.22,1.29,1.94,19.0,92,2.36,2.04,0.39,2.08,2.70,0.860,3.02,312
105,2,12.42,2.55,2.27,22.0,90,1.68,1.84,0.66,1.42,2.70,0.860,3.30,315
78,2,12.33,0.99,1.95,14.8,136,1.90,1.85,0.35,2.76,3.40,1.060,2.31,750

In [227]:
data_train.head()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
139,3,12.84,2.96,2.61,24.0,101,2.32,0.60,0.53,0.81,4.92,0.89,2.15,590
100,2,12.08,2.08,1.70,17.5,97,2.23,2.17,0.26,1.40,3.30,1.27,2.96,710
110,2,11.46,3.74,1.82,19.5,107,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562
60,2,12.33,1.10,2.28,16.0,101,2.05,1.09,0.63,0.41,3.27,1.25,1.67,680
24,1,13.50,1.81,2.61,20.0,96,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845

Com os subconjuntos basta aplicar o KNeighborsClassifier

# 4. Preparando e ajustantando o algoritmo de classificação KNN

Adicionando o algoritmo KNN da biblioteca SKLeand

In [228]:
from sklearn.neighbors import KNeighborsClassifier

Separamos os atribuitos da Classe como finalização do pré-processamento

In [229]:
attr =names = ['Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols','Flavanoids','Nonflavanoid phenols','Proanthocyanins','Color intensity','Hue','OD280/OD315 of diluted wines','Proline']
fulltarget = ['Class','Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols','Flavanoids','Nonflavanoid phenols','Proanthocyanins','Color intensity','Hue','OD280/OD315 of diluted wines','Proline']
fullclass  = ['ClassPredict','Class','Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols','Flavanoids','Nonflavanoid phenols','Proanthocyanins','Color intensity','Hue','OD280/OD315 of diluted wines','Proline']

In [230]:
wine_data = pandas.DataFrame(data_train, columns=attr)
wine_target = pandas.DataFrame(data_train, columns=['Class'])

In [231]:
wine_data.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
139,12.84,2.96,2.61,24.0,101,2.32,0.60,0.53,0.81,4.92,0.89,2.15,590
100,12.08,2.08,1.70,17.5,97,2.23,2.17,0.26,1.40,3.30,1.27,2.96,710
110,11.46,3.74,1.82,19.5,107,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562
60,12.33,1.10,2.28,16.0,101,2.05,1.09,0.63,0.41,3.27,1.25,1.67,680
24,13.50,1.81,2.61,20.0,96,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845

In [232]:
print("Knn - Com 3 testes diferentes")
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(wine_data, wine_target.values.ravel())
print("Knn -", 3, sep='---');

knn10 = KNeighborsClassifier(n_neighbors=10)
knn10.fit(wine_data, wine_target.values.ravel())
print("Knn10 -", 10, sep='---');

knn44 = KNeighborsClassifier(n_neighbors=wine_data.shape[0])
knn44.fit(wine_data, wine_target.values.ravel())
                           
print("Knn44 -", wine_data.shape[0], sep='---');

Knn - Com 3 testes diferentes
Knn ----3
Knn10 ----10
Knn44 ----133

## Predizendo classes com DecisionTreeClassifier

Gerando as fragmentação

In [233]:
wine_test = pandas.DataFrame(data_test, columns=attr)
wine_test_target = pandas.DataFrame(data_test, columns=['Class'])

In [234]:
print("Predição com Knn:")
predict1 = pandas.DataFrame(knn.predict(wine_test), index=data_test.index)
predict1.rename(columns={0:'Class Predic'}, inplace=True)
predict1.head()

Predição com Knn:

     Class Predic
13              1
70              1
108             2
105             2
78              1

In [235]:
print("Predição com Knn10:")
predict2 = pandas.DataFrame(knn10.predict(wine_test), index=data_test.index)
predict2.rename(columns={0:'Class Predic'}, inplace=True)
predict2.head()

Predição com Knn10:

     Class Predic
13              1
70              1
108             2
105             2
78              1

In [236]:
print("Predição com Knn44:")
predict3 = pandas.DataFrame(knn44.predict(wine_test), index=data_test.index)
predict3.rename(columns={0:'Class Predic'}, inplace=True)
predict3.head()

Predição com Knn44:

     Class Predic
13              1
70              1
108             1
105             1
78              1

In [237]:
wine_test_target.head()

     Class
13       1
70       2
108      2
105      2
78       2

## 4. Pós-Processo
### Acurácia do Classificador

In [238]:
from sklearn.metrics import accuracy_score

In [239]:
print('Probabilidade de Acerto knn')
accuracy_score(wine_test_target,predict1 )

Probabilidade de Acerto knn

0.6444444444444445

In [240]:
accuracy_score(wine_test_target, predict1, normalize=False)

29

In [241]:
print('Probabilidade de Acerto knn10')
accuracy_score(wine_test_target,predict2 )

Probabilidade de Acerto knn10

0.6888888888888889

In [242]:
accuracy_score(wine_test_target, predict2, normalize=False)

31

In [243]:
print('Probabilidade de Acerto knn44')
accuracy_score(wine_test_target,predict3 )

Probabilidade de Acerto knn44

0.26666666666666666

In [244]:
accuracy_score(wine_test_target, predict3, normalize=False)

12

## 5. Matriz de Confusão

Biblioteca de Matriz de Confusão

In [245]:
from sklearn.metrics import confusion_matrix

Gerando Matriz

In [246]:
confusion_matrix(wine_test_target,predict1)

array([[11,  0,  1],
       [ 3, 14,  9],
       [ 2,  1,  4]])

# 6. Lazy Learning
## Pergunta - Por que o algoritmo de classificação KNN é conhecido como um algoritmo lazy?

## Resposta - Learning Lazy (Aprendizado preguiçosos) são aquele em que o treinamento feito a parte da parcela de dados para treino é operada elemento a elemento, assim compondo o modelelo aos poucos, como feito pelo algoritmo KNN.